.wrap {
	@apply flex min-h-full flex-1 flex-col justify-center px-6 py-12 lg:px-8;
	header {
		@apply flex flex-col justify-center items-center sm:mx-auto  sm:w-full sm:max-w-sm;
		Image {
			@apply mx-auto h-auto w-logo;
		}
		h2 {
			@apply mt-10 text-center text-xxl sm:text-xxl font-bold leading-9 tracking-tight text-white;
		}
	}
}

.formWrap {
	@apply mt-10 sm:mx-auto p-6 border-borderBlack border-1 rounded-2xl sm:w-full sm:max-w-sm;

	background: rgba(255, 255, 255, 0.062);
	box-shadow: 3px 4px 10px 0px rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(28.5px);
	form {
		@apply space-y-6;
	}
}
.label {
	@apply block text-sm font-medium leading-6 text-white;
}
input {
	@apply block w-full mt-2 p-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

a {
	@apply font-semibold text-indigo-600 hover:text-indigo-500;
}
.btn {
	@apply flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
.forgot {
	@apply flex items-center justify-between;
}
